<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Parallax Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/base.css" rel="stylesheet">

  <!-- css for this project -->
  <link href="../css/project.min.css" rel="stylesheet">
</head>
<body>

  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="../images/users/swechcha logo white.png ",width="60px", height="60px" ></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="index.html" id="download-button" class="btn-large ">Log In</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2" style="font-color: #ffffff; font-size:100px;">ස්වේච්ඡා</h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row left">
          <a href="#modal" id="download-button" class="btn-large ">Start Volunteering</a>
        </div>
        <div class="row right">
          <a href="signup_form_for_orgnizations.html" id="download-button" class="btn-large ">Join As a CSO</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="events1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Connect Volunteers with CSOs</h5>

            <p class="light">With this platform you will dont have to wait and search for voluntary activities. We bring them to you.You get the chance to work towards the dream you pocess for your community.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Make Volunteering Fun</h5>

            <p class="light">This is a game. Its not who wants to be a millioneer but who wants to be a volunteer. You will get rated you will get level up. Now it get interesting when you get to have gifts and rewords for your hard work will not be virtual but they will be real</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Carrier</h5>

            <p class="light">You can do the volunteering and you will get the chance to get evry sinle event on to your cv. You will get recommened. You will get nominated. You will get the boost you need in your carrir</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../images/users/vol.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Contact Us</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="../images/users/int.jpg" alt="Unsplashed background img 3"></div>
  </div>


<div aria-hidden="true" class="modal fade" id="modal" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-xs">
      <div class="modal-content">
        
          
          
        </div>
        
          
        <div class="">
          <section class="content-inner">
            <div class="card-wrap">
              <div class="card">
              <a class="modal-close pull-right" data-dismiss="modal">&times;</a>
                <div class="card-main">
                  <div class="card-header">
                    <div class="card-inner">
                      <h1 class="card-heading">Login</h1>
                    </div>
                  </div>
                  <div class="card-inner">
                    <p class="text-center">
                      <span class="avatar avatar-inline avatar-lg">
                        <img alt="Login" src="../images/users/avatar-001.jpg">
                      </span>
                    </p>
                    <form class="form" action="index.html" >
                      <div class="form-group form-group-label">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <label class="floating-label" for="login-username">Username</label>
                            <input class="form-control" id="login-username" type="text" placeholder="UserName">
                          </div>
                        </div>
                      </div>
                      <div class="form-group form-group-label">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <label class="floating-label" for="login-password">Password</label>
                            <input class="form-control" id="login-password" type="password">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <button class="btn btn-block waves-attach waves-button">Sign In</button>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-10 col-md-push-1">
                            <div class="checkbox checkbox-adv">
                              <label for="login-remember">
                                <input class="access-hide" id="login-remember" name="login-remember" type="checkbox">Stay signed in
                                <span class="circle"></span><span class="circle-check"></span><span class="circle-icon icon">done</span>

                              </label>
                              <div class="clearfix">
              <p class="margin-no-top pull-left"><a class="btn btn-flat btn-blue waves-attach" href="javascript:void(0)">Need help?</a></p>
              <p class="margin-no-top pull-right"><a class="btn btn-flat btn-blue waves-attach" href="javascript:void(0)">Create an account</a></p>
            </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            
          </section>
  </div>

</div>
</div>



  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../templates/js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
